
<% layout("layouts/boilerplate") %>
    <h1>Campgrounds</h1>

    <h3><a href="/campgrounds/new">New Campground</a></h3>
    <ul>
        <% for(let campground of campgrounds) {%>
            <li><a href="/campgrounds/<%= campground._id%>"><%= campground.title%></a></li>
        <% } %>
    </ul>

